@import "../../../../../scss/colors";
@import "../../../../../scss/variables";


.participant-flag {
    position: absolute;
    height: 30px;
    width: 16px;
    right: 15px;
    top: 0;
    border-radius: 0 0 4px 4px;
}

.avatar {
    border-radius: 50%;
    background-color: black;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
}

.subtitle {
    vertical-align: super;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

.content {
    margin-bottom: 10px;
}

.comment-block {
    display: inline-table;
    width: 100%;
}

agm-eye {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 30px;
}

.offer .subtitle {
    color: #4a90e2;
}

.offer .participant-flag,
.offer .badge {
    background-color: #4a90e2;
}

.draft .participant-flag,
.draft .badge {
    background-color: #60b108;
}

.draft .subtitle {
    color: #60b108;
}

h3 {
    font-size: 13px;
    font-weight: bold;
}

h3 > * {
    vertical-align: text-bottom;
}

.timestamp {
    font-size: 13px;
    text-align: right;
    padding-right: 30px;
}

.replay {
    margin-bottom: 15px;
}

.actions > button {
    margin-right: 5px;
}








/*-----------------------------
--------- CARD SCOPE ----------
-----------------------------*/

.card__scope {

  margin-bottom: 1.250rem;

  h3 {
    display: flex;
    align-items: center;
    font-weight: $font-bold;
    margin-left: -10px;
    margin-bottom: 0.875rem;

    span {
      &:first-child {
        display: inline-block;
        border-radius: 50px;
        background: $primary-grey;
        color: $white;
        font-size: 1rem;
        margin-right: 0.675rem;
        padding: 0.275rem 0.575rem;
      }
      color: $black;
      font-size: 0.875rem;
    }

  }

  .card {
    background: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 1px 4px 1px rgba(215,215,215,0.5);
    margin-bottom: 0.313rem;

    .card-body {
      padding: 0;
      position: relative;

      header,
      section {
        padding: 0.625rem;
      }

      header {
        background: $white;
        border-bottom: 1px solid #ebebeb;
        position: relative;
        display: flex;
        align-items: center;


        .card__avatar {
          display: inline-block;
          width: 27px;
          height: 27px;
          overflow: hidden;
          border: 1px solid $primary-grey;
          border-radius: 50px;
        }

      } // -- end header

      section {
        font-size: 0.875rem;

        p {
          margin: 0.313rem 0 0.938rem;
        }

        label {
          text-transform: uppercase;
          font-weight: $font-bold;
          font-size: 0.750rem;
        }

        .card__actions {

          .btn {
            margin-right: 0.313rem;
            padding: 0.2rem 1rem;
            font-size: 0.813rem;
            text-transform: uppercase;
            cursor: pointer;
            border-radius: 2px;
          }

          .btn-primary {
            background: $primary-robinegg;
            color: $white;
            border-color: $primary-robinegg
          }

          .btn-outline-danger {
            border-color: $color-warning;
            color: $color-warning;
          }
        }
      } // -- end section
    } // -- end .card-body
  } // -- end .card


  .card__status {
    display: inline-block;
    font-size: 0.75rem;
    margin: 0 0.938rem;
    font-weight: $font-bold;
    text-transform: uppercase;
  }

  .card__ribbon {
    position: absolute;
    width: 21px;
    height: 32px;
    top: 0;
    right: 20px;
    border-radius: 0 0 5px 5px;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  }

  .card__time {
    text-align: right;
    color: $primary;
    font-weight: $font-light;
    font-size: 0.688rem;
    margin-right: 0.313rem;
  }

  .card__visibility__holder {
    display:flex;
    align-items: center;
    margin-top: -1rem;
    opacity: 0.3;
  }

  &.card__scope--active {
    .card__visibility__holder {
      opacity: 1;
    }
  }

  //-------- Card modifications --------//

  &.card__scope--draft {
    .card__scope__header {
      span {
        &:first-child {
          background: $green;
        }
      }
    }
    .card__ribbon {
      background: #9ad913; /* Old browsers */
      background: -moz-linear-gradient(top, #9ad913 0%, #60b108 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #9ad913 0%,#60b108 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #9ad913 0%,#60b108 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ad913', endColorstr='#60b108',GradientType=0 ); /* IE6-9 */
    }

    .card__status {
      color: $green;
    }
  }

  &.card__scope--proposition {
    .card__scope__header {
      span {
        &:first-child {
          background: $blue;
        }
      }
    }
    .card__ribbon {
      background: #81c3f3; /* Old browsers */
      background: -moz-linear-gradient(top, #81c3f3 0%, #4a90e2 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #81c3f3 0%,#4a90e2 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #81c3f3 0%,#4a90e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81c3f3', endColorstr='#4a90e2',GradientType=0 ); /* IE6-9 */
    }

    .card__status {
      color: $blue;
    }
  }

} // -- end .card__scope


