<aside class="card__scope"
       [ngClass]="{'card__scope--active': selected, 'card__scope--default': false, 'card__scope--draft': type === 'draft', 'card__scope--proposition': false}">
  <h3 class="card__scope__header" *ngIf="type !== 'original-text'">
    <span>{{badgeTitle}}</span><span>
      <!--Default card scope-->
      <!--Draft-->
  </span>
  </h3>
  <div class="row">
    <div class="col-md-11">
      <div class="card">
        <div class="card-body">
          <header *ngIf="type !== 'original-text'">
            <div class="card__avatar">
              <ngx-avatar [name]="replay.author" size="27"
                          [tooltip]="replay.author"
                          [tooltipAppendToBody]="true"></ngx-avatar>
            </div>
            <div class="card__status">
              <span [ngSwitch]="type">
                <ng-container *ngSwitchCase="'draft'">Default  </ng-container>
                <ng-container *ngSwitchCase="'offer'">New proposition  </ng-container>
                <ng-container *ngSwitchCase="'original-text'">Original Text</ng-container>
              </span>
            </div>
            <span class="card__ribbon"></span>
          </header>
          <section>
            <label *ngIf="type === 'original-text'">Original text</label>

            <p class="card-text">{{renderedText}}</p>

            <div class="card__actions" *ngIf="actions.length > 0">
              <button class="btn btn-primary border-0"
                      *ngFor="let _action of actions" (click)="action.emit(_action.id)">
                <fa-icon [hidden]="!actionsLoading" [icon]="['fas', 'circle-notch']" [spin]="true"></fa-icon>
                {{_action.label}}
              </button>
            </div>
          </section>
        </div>
      </div>
      <div class="card__time">{{ createdAt | timeAgo }}</div>
    </div>
    <div class="col-md-1 card__visibility__holder" (click)="onSelect()">
      <fa-icon [icon]="['fa', 'eye']"></fa-icon>
    </div>
  </div>
</aside>

