<html>
<head><title>Reset your password</title></head>
<body>
<center>
    <table width="600" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td colspan="3" height="6"></td>
        </tr>

        <tr>
            <td style="font-size:0px" height="1">
                <img src="${host}/images/small-logo-agreemount.jpg" alt="Agreemount logo" width="150" height="36"/></td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" style="line-height:25px" border="0">
                    <tbody>
                    <tr>
                        <td colspan="3" height="30">
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <p align="left"
                               style="color:#444444;border-collapse:collapse;font-size: 12px;line-height: 1.6;font-family:Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';"
                               valign="top">
                                <strong>Reset your password</strong><br/>
                                In order to reset your Agreemount password click on the below link <br/><br/>
                                <a style="border-radius:3px;font-size:13px;display: block;color:white; text-decoration:none;padding:3px 10px;width:180px;text-align: center;font-family:Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';display:block;background-color:#E62668;"
                                   href="${host}/#/reset/${confirmationHash}">
                                    Activation link</a>
                            </p>
                            <img src="${host}/images/mail-footer.jpg" alt="Good luck Agreemount Team" width="600"
                                 height="102"/>

                        </td>
                    </tr>
                    <tr>
                        <td><br/>
                            <p style="color:#bdbdbd;border-collapse:collapse;font-size:10px;font-family:Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';line-height: 1.2;"
                               valign="top">
                                This email was automaticaly generated by <b>Property division e-negotiation service</b>.
                                <br>
                                In case any doubts, please visit <a href="https://agreemount.com">agreemount.com</a>

                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
</center>

</body>
</html>

