<nav class="navbar navbar-expand-lg navbar-light border-bottom">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" routerLink="/">Agreemount</a>
    <ng-container *ngIf="showDocumentControls$ | async">
      <div>
        <button class="btn btn-outline-primary btn-sm" i18n>Load document</button>
        <button class="btn btn-sm">
          <fa-icon [icon]="['fa', 'file-export']" size="xs"></fa-icon>
          <span class="ml-2" i18n>Export document</span>
        </button>
        <button class="btn btn-sm" (click)="shareDocument()">
          <fa-icon [icon]="['fa', 'share-alt']" size="xs"></fa-icon>
          <span class="ml-2" i18n>Share with your negotiation partner</span>
        </button>
      </div>
    </ng-container>
    <div class="ml-auto" *ngIf="(username$ | async) != null">
      <button class="btn btn-sm">
        <fa-icon [icon]="['fa', 'bell']"></fa-icon>
      </button>

      <div class="btn-group" dropdown placement="bottom right">
        <button dropdownToggle type="button" class="btn btn-sm dropdown-toggle"
                aria-controls="dropdown-basic"><span i18n>Hello, <strong>{{username$ | async}}</strong></span>
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
          <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
