@import "../../../scss/colors";

.navbar {
  background: $white;
}

.navbar-brand {
  background: url(../../../assets/images/agreemount_logo.svg) no-repeat;
  display: inline-block;
  min-width: 150px;
  text-indent: -10000px;
}

.btn {
  color: $primary;
  border-radius: 100rem;
  padding: 0.3rem 0.75rem 0.28rem;
  font-size: 0.75rem;
}
