<agm-navbar *ngIf="loggedIn$ | async"></agm-navbar>
<router-outlet></router-outlet>
<router-outlet name="modal"></router-outlet>

<button *ngIf="PRODUCTION === false"
        class="dev-reset-btn btn btn-secondary btn-sm"
        i18n-tooltip
        tooltip="Refresh REDUX state (DEV MODE)"
        placement="left"
        (click)="devRefreshState()">
  <fa-icon [icon]="['fas', 'redo-alt']" size="xs"></fa-icon>
</button>
