<div class="h-100 auth-page">
  <div class="row no-gutter h-100 m-0">
    <div class="cover-image d-none d-sm-none d-md-block col-md-5">
      <div class="logo"></div>
    </div>

    <div class="h-100 auth-page col-md-7 col-sm-12">
    <div class="d-md-table">

      <div class="d-md-table-cell">
        <div class="switch">
          <small class="pr-3">Don’t have an account?</small>
          <Button class="btn btn-outline-secondary" size="sm">Register</Button>
        </div>

        <div class="card">
          <div class="card-title">
            <h1 i18n="@@loginFormHeader">Login to AgreemountText</h1>
            <span>Enter your details below</span>
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="submit()">
              <div class="form-group">
                <label for="username" i18n>Username</label>
                <input type="email" class="form-control" id="username" placeholder="Enter email" i18n-placeholder formControlName="username">
              </div>
              <div class="form-group">
                <label for="password" i18n>Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" i18n-placeholder formControlName="password">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="remember-me" formControlName="rememberMe">
                <label class="form-check-label" for="remember-me" i18n>Remember me</label>
              </div>
              <button type="submit" class="btn btn-primary float-left" [disabled]="loading$ | async">
                <fa-icon [hidden]="!(loading$ | async)" [icon]="['fas', 'circle-notch']" [spin]="true"></fa-icon>
                <span class="ml-2" i18n>Login</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
