@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
@import "../../../scss/colors";
@import "../../../scss/variables";

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

nav.navbar {border: 1px solid #f00;}

.cover-image {
  background: url(../../../assets/images/cover_image.png) center center no-repeat;
  background-size: cover;
  position: relative;
}

.logo {
  background: url(../../../assets/images/agreemount_logo_white.svg) center center no-repeat;
  width: 50%;
  min-height: 15%;
  position: absolute;
  bottom: 10px;
  left: 25%;
}

.d-md-table {
  display: table;
  width: 100%;
  height: 100%;
}

.d-md-table-cell {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-top: 100px;
  padding-bottom: 100px;
}

.auth-page {
  position: relative;
  font-family: 'Montserrat', sans-serif;

  h1 {
    text-align: left;
    font-size: 1.5rem;
    opacity: 0.85;
    margin-bottom: 0;
  }

  .switch {
    position: absolute;
    margin-right: 40px;
    margin-top: 40px;
    right: 0;
    top: 0;
  }

  .switch-b {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 15%;
    margin-bottom: 5%;

    div {cursor:pointer;}
  }

  .card {
    margin: 0 27%;
    border: none;

    h3 {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 8%;
      span {
        display:block;
        font-size: 1rem;
        font-weight: 400;
      }
    }

    .card-body {
      margin: .9375rem 0;
      padding: 0;

      label {
        color: #353535;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 5px;
        cursor: pointer;
      }

      input {
        border-color: #C1C1C1;
        padding: 20px 10px !important;
        font-size: 13px;
      }

      .form-check-label {
        text-transform: capitalize;
        font-size: .8125rem;
        font-weight: normal;
      }
    }
    .input-group-append {
      cursor: pointer;
      i {
        width: 20px;
      }
    }

  }

  a {
    color: #000;
    font-weight: 700;
    font-size: 1em;
  }

  .btn-toolbar {
    justify-content: space-between;
    margin-top: 35px;
  }

  .btn-sm {
    font-size: 0.6875rem;
  }

  .btn {
    border-radius: 50px;
    padding: 8px 45px;
    text-transform: uppercase;

    &.btn-primary {
      background: $pink;
      border: none;
      font-weight: 600;

    }

    &.btn-link {
      padding: 5px 0;
      text-align: right;
      text-transform: capitalize;
      font-size: 0.875rem;
      color: #6B6B6B;
    }

    &.btn-outline-secondary {
      border-color: $secondary-grey;
      color: #000;
      font-weight: 600;
      padding: 5px 30px;
      font-size: .6875rem;

      &:hover {
        background: #fff;
        border-color: #000;
      }
    }



  } //btn end

  .validationError {
    font-size: 0.8rem;
    margin-top: 4px;
    margin-bottom: -6px;
    padding-left: 10px;
    color: #ab0063;
  }
}
