@import "../../../scss/colors";

.editor {
  flex-grow: 1;
  height: calc(100vh - 100px);
}

.side-panel {
  width: 400px;
  margin: 20px 0;
}

.container {
  display: flex;
  flex-direction: row;
}
.highlited {
  background: $yellow;
}




