<agm-document-not-found *ngIf="(errorNotFound$ | async); else qEditor"></agm-document-not-found>

<!--<div [hidden]="(loading$ | async)">-->
<!--{{(document$ | async)?.id}}-->
<!--</div>-->

<ng-template #qEditor>
  <div class="container">
    <div class="content-loading editor" *ngIf="loading$ | async">

    </div>

    <quill-editor [hidden]="(loading$ | async)"
                  (onSelectionChanged)="selectionChanged($event)"
                  class="editor" [formControl]="editorControl"
                  (onEditorCreated)="onEditorCreated($event)"
                  format="object" i18n-placeholder="Insert text here ...">
      <div quill-editor-toolbar>
      <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      </span>
        <span class="ql-formats">
        <select class="ql-color"></select>
        <select class="ql-background"></select>
      </span>
        <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
        <select class="ql-align">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
      </span>
        <span class="ql-formats">
        <button class="ql-link"></button>
          <!--<button class="ql-image"></button>-->
      </span>
      </div>
    </quill-editor>

    <div class="side-panel">
      <agm-sidebar [loading]="sidebarLoading$ | async"
                   [actionsLoading]="actionsLoading$ | async"
                   [actions]="selectedChangesActions$ | async"
                   [branches]="(selectedChanges$ | async)?.branches"
                   [selectedBranch]="(selectedChanges$ | async)?.active"
                   (invokeAction)="invokeAction($event)" (selectBranch)="selectBranch($event)"></agm-sidebar>

      <button class="btn btn-primary btn-block"
              (click)="publish()"
              i18n>Publish
      </button>
    </div>
  </div>
</ng-template>
