<html>
<head><title>docid: ${documentId}</title></head>
<body>
<h1>New document has been created by ${receiver}</h1>
<div class="receiver">receiver: ${receiver}</div>
<div class="documentId">documentId: ${documentId}</div>
<div class="customParams">${customParameters[0]}_${customParameters[1]}_${customParameters[2]}</div>
</body>
</html>