$primary:  #161847;
$dark: #000;
$highlighted: #F8E71C;
$primary-grey: #eeeeee;
$secondary-grey: #979797;
$white: #fff;
$black: #000;
$green: #60B108;
$color-warning: #FF7485;
$blue: #4A90E2;
$yellow: #F8E71C;
$pink: #F5439E;


$primary-robinegg: #00CFDB;


