html, body, .h-100 {
  height: 100% !important;
}

.change-identifier {
  border: 1px solid #4CAF50;
  padding: 1px;
  border-radius: 25px;
  background-color: #4CAF50;
  margin-right: 3px;
}

.dropbtn {
  border: 1px solid #4CAF50;
  border-top: 0;
  border-left: 0;
}

.options-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 100;
}

.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none !important;
  display: block;
  height: 25px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.options-dropdown:hover .dropdown-content {
  display: block;
}

.options-dropdown:hover .dropbtn {
  background-color: #ddd;
}

.loading-block {
  height: 15px;
  background-color: #f5f5f5;
  display: inline-block;
}

.loading-block.loading-block-sm {
  height: 9px;
}

.loading-block.darker {
  background-color: #efefef;
}

div.ql-container.ql-snow {
  border: none;
}

div.ql-toolbar.ql-snow {
  border: none;
}
