<div class="document-list">
  <div *ngFor="let document of (documents$ | async)" class="document">
    <a [routerLink]="['/documents', document.id]" class="btn btn-primary">
      <span class="ml-2">{{document.name}}</span>
    </a>
  </div>
  <div class="document new-document">
    <a routerLink="/documents/new" class="btn btn-primary">
      <fa-icon [icon]="['fa', 'plus']"></fa-icon>
      <span class="ml-2" i18n>New</span>
    </a>
  </div>
</div>
