:host {
  display: block;
  padding: 10px;
  background-color: white;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}


.document-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: stretch;
  grid-gap: 5px;

  > .document {
    position: relative;
    display: block;
    height: 300px;
    > .btn {
      width: 100%;
      height: 100%;
    }
  }
}

.new-document {
  > .btn {
    width: 100%;
    height: 100%;
    padding-top: 130px;
  }
}
