<agm-modal #modal="modal">
  <ng-container modal-header i18n>Share document with others</ng-container>
  <ng-container modal-body>
    <p i18n>You have shared document with:</p>
    <p *ngFor="let sharedEmail of (sharedEmails$ | async)"><strong>{{sharedEmail}}</strong></p>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-secondary" (click)="modal.closeModal()" i18n>Cancel</button>
    <button class="btn btn-primary" (click)="share()" i18n>Share</button>
  </ng-container>
</agm-modal>
