<!-- THESE LOADING WILL BE MOVED INSIDE OF THE SIDEBAR -->

<ng-container *ngIf="loading; else content">
    <div class="loading replay" *ngFor="let i of [1, 2, 3]">
        <div class="comment-block">
            <div class="comment">
                <div class="user-details">
                    <span class="fa fa-user-circle loading-avatar"></span>
                    <span class="subtitle loading-block"></span>
                </div>

                <div class="content">
                    <span class="loading-block darker" style="width: calc(100% - 50px);"></span>
                    <span class="loading-block" style="width: calc(100% - 50px);"></span>
                    <span class="loading-block darker" style="width: calc(100% - 110px);"></span>
                </div>
            </div>
            <div style="text-align: right;">
            <span class="loading-block loading-block-sm" style="width: 100px"></span>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #content>
    <agm-replay *ngFor="let branch of branches; let $index = index"
                [replay]="branch"
                [actions]="actions[branch.id] || []"
                [actionsLoading]="actionsLoading"
                (action)="invokeAction.emit({actionId: $event, documentId: branch.id})"
                (select)="selectBranch.emit($event)"
                [selected]="branch === selectedBranch">
    </agm-replay>
</ng-template>
