@import "../../../../scss/colors";
@import "../../../../scss/variables";


.loading-avatar {
    color: #f5f5f5;
    font-size: 25px;
}

.replay.loading .comment{
    padding-left: 25px;
}

.replay.loading .subtitle {
    display: inline-block;
    height: 15px;
    width: calc(100% - 170px);
}

.replay.loading .user-details{
    margin-bottom: 5px;
}

.comment-block {
    width: calc(100% - 30px);
}

