@import "../../../scss/colors";

:host {
  text-align: center;
  width: 100%;
  display: block;
}

.new-document-option {
  background-color: #cecece;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: none;

  &:not(:first-child) {
    margin-left: 15px;
  }

  &:not([disabled=""]):hover {
    background-color: #e6e6e6;
  }
}

.page-spinner {
  position: absolute;
  top: calc(50% - 50px);
  color: $primary;
}
