<!--<button class="new-document-option" (click)="createBlank()" [disabled]="loading$ | async">Blank</button>-->
<!--<button class="new-document-option" (click)="createFromTemplate()" [disabled]="true">From template</button>-->
<!--<button class="new-document-option" (click)="createFromFile()" [disabled]="true">Import file</button>-->


<fa-icon class="page-spinner" [icon]="['fas', 'circle-notch']" [spin]="true" size="4x"></fa-icon>
